<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=192.168.56.224,1433\SQLEXPRESS;Initial Catalog=Sitecore_Core;User ID=sa1;Password=P@$$w0rd" />
  <add name="master" connectionString="Data Source=192.168.56.224,1433\SQLEXPRESS;Initial Catalog=Sitecore_Master;User ID=sa1;Password=P@$$w0rd" />
  <add name="web" connectionString="Data Source=192.168.56.224,1433\SQLEXPRESS;Initial Catalog=Sitecore_Web;User ID=sa1;Password=P@$$w0rd" />
  <add name="analytics" connectionString="mongodb://localhost:27017/Sitecore_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/Sitecore_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/Sitecore_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/Sitecore_tracking_contact" />
  <add name="reporting" connectionString="Data Source=192.168.56.224,1433\SQLEXPRESS;Initial Catalog=Sitecore_Analytics;User ID=sa1;Password=P@w0rd" />
  <add name="reporting.apikey" connectionString="" />
</connectionStrings>
